<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
		<add name="conn" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=LibraryManagement;Integrated Security=True;"/>
		-->
		<add name="conn" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Store;Integrated Security=True"/>
	</connectionStrings>

	<appSettings>
		<add key="id" value="client_id"/>
		<add key="idChild" value="payment_id"/>
		<add key="select" value="SELECT * from clients"/>
		<add key="ParentTableName" value="clients"/>
		<add key="ChildTableName" value="client_payment"/>
		<add key="NumberOfColumns" value="3"/>
		<add key="ColumnNames" value="payment_id,type_of_payment,client_id"/>
		<add key="ColumnNamesInsertParameters" value="@payment_id,@type_of_payment,@client_id"/>
		<add key="UpdateQuery" value="UPDATE client_payment Set type_of_payment=@type_of_payment, client_id=@client_id WHERE payment_id=@payment_id"/>
		<add key="selectChild" value="SELECT * from client_payment WHERE client_id="/>
		<add key="InsertQuery" value="INSERT INTO client_payment (type_of_payment, client_id) VALUES (@type_of_payment,@client_id)"/>
		<add key="DeleteQuery" value="DELETE FROM client_payment WHERE payment_id=@payment_id"/>
		<add key="ForeignKey" value="client_id"/>
	</appSettings>

	<!--
	<appSettings>
		<add key="id" value="client_id"/>
		<add key="idChild" value="wishlist_id"/>
		<add key="select" value="SELECT * from clients"/>
		<add key="ParentTableName" value="clients"/>
		<add key="ChildTableName" value="wishlists"/>
		<add key="NumberOfColumns" value="4"/>
		<add key="ColumnNames" value="wishlist_id,client_id,description_wishlist,date_of_creation"/>
		<add key="ColumnNamesInsertParameters" value="@wishlist_id,@client_id,@description_wishlist,@date_of_creation"/>
		<add key="UpdateQuery" value="UPDATE wishlists Set client_id=@client_id,description_wishlist=@description_wishlist,date_of_creation=@date_of_creation WHERE wishlist_id=@wishlist_id"/>
		<add key="InsertQuery" value="INSERT INTO wishlists (client_id, description_wishlist, date_of_creation) VALUES (@client_id, @description_wishlist, @date_of_creation)"/>
		<add key="DeleteQuery" value="DELETE FROM wishlists WHERE wishlist_id=@wishlist_id"/>
		<add key="selectChild" value="SELECT * from wishlists WHERE client_id="/>
		<add key="ForeignKey" value="client_id"/>
	</appSettings>
		-->

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>



